.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  width: 100%;
  background-color: #bd43ff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar-brand {
  font-size: 1.5rem;
}

.navbar-brand img {
  width: 90px;
}
.nav-list {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  flex-direction: column;
  align-items: start;
}
.collapse {
  display: none;
}
.nav-toggler {
  position: absolute;
  right: 17px;
  top: 22px;
  background-color: #bd43ff;
  border: 2px solid #4c4c4c;
  cursor: pointer;
}
.burger-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background-image: url("./../../asset/icons/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (min-width: 992px) {
  .navbar-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    margin: 0 0 auto 0;
    align-items: center;
  }
  .navbar-brand img {
    background: #bd43ff;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    position: fixed;
    top: 0;
  }
  .nav-toggler {
    display: none;
    cursor: pointer;
  }
  .collapse {
    display: block;
  }
}

.nav-item {
  margin: 10px;
}
.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: white;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  padding: 0 8px;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.btn-success {
  background-color: #198754;
  color: white;
}
.btn-warning {
  background-color: #ffc107;
  color: black;
}
